<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Basic test: Configure SES.WEB + IDP" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="com.clean.listener.ListenerEx"></listener>
    </listeners>
    <test name="Automate test-Configure features">
        <classes>
            <class name="testclass.server.ConfigreTest"/>
        </classes>
    </test>




</suite>